{% extends 'base.html' %}



{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Aplicacion</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat justo non dolor sollicitudin, ac euismod justo vehicula. Proin dapibus sem ut velit tristique, ac fringilla massa fermentum. Suspendisse potenti. Vivamus auctor odio vel augue tincidunt, at pretium erat elementum. Nulla facilisi. Integer euismod urna a velit sagittis, ac facilisis justo blandit.

Sed hendrerit, purus a pharetra cursus, neque nunc consequat eros, nec faucibus odio magna vel libero. In a tristique lacus. Ut aliquam, sapien vel feugiat efficitur, arcu arcu facilisis nulla, in varius magna lorem et arcu. Cras at sodales metus. Phasellus sit amet ligula eu libero malesuada tempor.
    </p>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin/">
            Ingresar
        </a>
        <a class="btn btn-primary" href="/signup/">
            Registrar
        </a>
    </div>
    </section>
</main>

{% endblock %}