{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secundary">{{task.title}}</h1>
            {{error}}
            <form method ="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">actualizar</button>
            </form>

            <form action="{% url 'complete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">
            Completado
            </button >
            </form>

            <form action="{% url 'delete_task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">
            Borrar
            </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}